/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1em;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main:after,
nav:after,
footer:after,
header:after,
section:after,
form:after,
div:after,
ul:after,
ol:after,
li:after,
dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
hr {display: none;}
p {line-height: 1.5em;}
b, strong {font-weight: bold;}
a {text-decoration: none;}

body {
    height: 100%;
    margin: 0;
    overflow: auto;
    font: normal 1em/1.7 "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.sidebar {
    position: fixed;
    z-index: 2;
    top: 0rem;
    width: 15em;
    bottom: 0;
    left: 0;
    margin-top: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #f9f9f9;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    border-right: 1px solid #d2d2d2;
}

.reader {
    position: absolute;
    z-index: 2;
    top: 0rem;
    width: 50em;
    bottom: 0;
    left: 15rem;
    background: #FFF;
}

.text {
    padding: 30px;
    text-align: justify;
    white-space: pre-wrap;
}

.text p {
    text-indent: 3%;
}

.sidebar-list {
    min-height: 100%;
    padding-bottom: 3.5rem;
    padding-top: 5rem;
}

.sidebar-list--item, ..sidebar-list--item:hover {
    color: inherit;
    text-decoration: none;
}
.sidebar-list--item {
    display: block;
    position: relative;
    padding: .25rem .75rem;
    line-height: 2rem;
    padding: .8em;
    margin-top: .4rem;
    font-size: .875rem;
    cursor: default;
    background: rgba(0,0,0,.1);
    box-shadow: inset -1px 0 #e3e3e3;
}

.sidebar-list--arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid rgba(0,0,0,.8);
    border-bottom: 5px solid transparent;
}

.sidebar-list--arrow.active {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgba(0,0,0,.8);
}

.sidebar-list--text {
    display: block;
    pointer-events: none;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}
.sidebar-list--item, .sidebar-list--text {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    overflow-wrap: normal;
    text-overflow: ellipsis;
}